#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  }

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-wrapper {
  background-color: #f8f9fa;
  padding: 20px;
}

.resume-wrapper {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resume-header {
  border-bottom: 2px solid #e9ecef;
  margin-bottom: 20px;
  text-align: left; 
}

.resume-name {
  font-size: 2rem;
}

.resume-tagline {
  font-size: 1.25rem;
  color: #6c757d;
}

.resume-intro {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin-bottom: 20px;
}

.profile-image {
  width: 200px; 
  margin-right: 15px;
}

.skills-container {
  border: 2px solid #808080;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px; 
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-blue-gray {
  color: #32CD32; 
}

a {
  color: #808080; 
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}

@media (max-width: 768px) {
  .resume-header {
    text-align: left; 
  }

  .resume-intro {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .resume-profile-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px; 
  }

  .resume-name {
    font-size: 1.5rem;
  }

  .resume-tagline {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .resume-name {
    font-size: 1.25rem;
  }

  .resume-tagline {
    font-size: 0.9rem;
  }
}

